<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- Mybatis 관련 설정 작성하기 * 아래 순서 중요, 바뀌면 안됨! -->
	
	<!-- SqlSessionTemplate 관련 설정 -->
	<settings>
		<!-- snake to camel -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 쿼리 결과가 null인 경우 누락되지 않도록 -->
		<setting name="callSettersOnNulls" value="true"/>
        <!-- 쿼리에 보내는 파라미터가 null인 경우 에러 발생 방지 -->
		<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
</configuration>


